# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Editor/IDE configurations
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp
*.bak
*.old
*.orig
*.save
*.DS_Store
*.~undo-tree
Thumbs.db